mixin head(title, description)
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='author', content='50/50')
		link(rel='stylesheet', href='../css/style.css')
		title #{title}
		meta(name='description', content='#{description}')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block
mixin header
	header
		include partials/_header.jade
mixin footer
	footer
		include partials/_footer.jade
mixin content 
	body
		+header
		block
		+footer
mixin a(url, name)
	a(href="#{url}.html") #{name}

doctype html
html
	block page